/* =============== RESET =============== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif
}


/* =============== HEADER =============== */
#header-principal {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: beige;
  z-index: 1000;
  border-bottom: 1px solid #ddd;
}

/* ---------- BARRA SUPERIOR ---------- */
#barra-superior {
display: flex; /*--FLEX*/
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 70px;
  padding: 10px 20px;
}

/* LOGO */
.logo {
  float: left;
}

.logo img {
  height: 76px;
}

/* ===== BUSCADOR (AJUSTADO) ===== */
.buscador {
    float: left;
    width: 45%;           /* antes 55% */
    margin-top: 12px;
}

.buscador input {
    float: left;
    width: 65%;           /* antes 75% */
    padding: 10px;        /* un poco más fino */
    font-size: 15px;
    border: none;
    outline: none;
    border-radius: 5px 0 0 5px;
}

.buscador button {
    float: left;
    width: 15%;           /* compensamos */
    padding: 10px;
    font-size: 15px;
    background-color: orange;
    border: none;
    color: black;
    cursor: pointer;
    border-radius: 0 5px 5px 0;
}

.buscador button:hover {
    background-color: #ff9900;
}

/* USUARIO */
.usuario {
  float: right;
  margin-top: 18px;
}

.usuario a {
  margin-left: 20px;
  text-decoration: none;
  color: #333;
  font-weight: bold;
}

.usuario a:hover {
  color: #ff4747;
}

/* ---------- MENU CATEGORÍAS ---------- */
#menu-categorias {
  background: #f5f5f5;
  height: 40px;
}

#menu-categorias ul {
    display: flex; /*--FLEX*/
    align-items: center;
  list-style: none;
  padding-left: 20px;
}

#menu-categorias ul li {
  float: left;
  line-height: 40px;
  margin-right: 25px;
  font-size: 14px;
}

#menu-categorias ul li a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
}

#menu-categorias ul li a:hover {
  color: #ff4747;
}

/* CATEGORÍAS */
.categorias {
  font-weight: bold;
  cursor: pointer;
}

/* CLEAR */
.clear {
  clear: both;
}

/* ================= VIDEO DE FONDO ================= */

.video-fondo {
    position: relative;
    width: 100%;
    height: 400px;
    overflow: hidden;
}

/* Video ocupando toda la sección */
.video-fondo video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

/* Texto encima del vídeo */
.texto-video {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
}

/* Título */
.texto-video h1 {
    font-size: 32px;
    margin-bottom: 10px;
}

/* Texto */
.texto-video p {
    font-size: 18px;
    margin-bottom: 15px;
}

/* Botón */
.texto-video .boton {
    padding: 10px 20px;
    background-color: orange;
    color: white;
    text-decoration: none;
    font-weight: bold;
    border: none;
}

/* Hover botón */
.texto-video .boton:hover {
    background-color: transparent;
    color: orange;
    border: 2px solid orange;
}


/* ================= CONTENIDO PRINCIPAL ================= */

.contenido {
    width: 90%;
    margin: 40px auto;
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
}

.titulo {
    text-align: center;
    font-size: 28px;
    margin-bottom: 30px;
    color:black;
}

/* ================= CONTENEDOR DE PRODUCTOS ================= */

.productos {
    display: flex; /*--FLEX*/
     flex-wrap: wrap;
    width: 100%;
}

/* ================= TARJETA PRODUCTO ================= */

.producto {
    width: 220px;
    float: left;                /* USO DE FLOAT */
    margin: 15px;
    padding: 15px;
    background-color: #ffffff;
    border: 1px solid #0c08f5;
    border-radius: 6px;
    text-align: center;
    position: relative;         /* USO DE POSITION */
    transition: transform 0.3s ease, box-shadow 0.3s ease; /*trasicion leve*/
}

/* HOVER PRODUCTO */
.producto:hover {
    transform: translateY(-6px); /*modificacion visual*/
    box-shadow: 0 6px 16px rgba(0,0,0,0.15);
}

/* ================= IMAGEN ================= */

.producto img {
    width: 100%;
    height: 160px;
    object-fit: contain;
    margin-bottom: 10px;
    transition: transform 0.3s ease;
}

/* HOVER IMAGEN */
.producto:hover img {
    transform: scale(1.08);
}

/* ================= TEXTO ================= */

.producto h3 {
    font-size: 16px;
    margin-bottom: 8px;
    height: 38px;
    overflow: hidden;
}

.producto p {
    font-size: 15px;
    color: #ff4747;
    font-weight: bold;
    margin-bottom: 12px;
}

/* ================= BOTÓN ================= */

.boton {
    display: inline-block;
    padding: 8px 14px;
    background-color: #ff6a00;
    color: white;
    text-decoration: none;
    border-radius: 4px;
    font-size: 14px;
    transition: all 0.3s ease;
    text-align: center;
}

/* HOVER BOTÓN (SIN FONDO) */
.boton:hover {
    background-color: transparent;
    color: #ff6a00;
    border: 2px solid #ff6a00;
    text-align: center;
}

/* ================= LIMPIADOR FLOAT ================= */

.clear {
    clear: both;
}

/* ================= FOOTER ================= */

footer {
    display: flex; /*--FLEX*/
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: #1e1e1e;
    color: #ffffff;
    padding: 30px 60px;
    box-sizing: border-box;
    position: relative;
    overflow: hidden; /* para limpiar los floats */
    text-align: center;
}

/* Textos del footer */
footer p {
    margin: 6px 0;
    font-size: 14px;
    color: #cccccc;
    text-align: center;
}

/* ================= REDES SOCIALES ================= */

.redes-sociales {
    float: right;            /* A LA DERECHA */
    margin-top: -40px;
}

/* enlaces */
.redes-sociales a {
    display: inline-block;
    margin-left: 15px;
}

/* imágenes de redes */
.redes-sociales img {
    width: 40px;             /* MÁS GRANDES */
    height: 40px;
    border-radius: 50%;
    background-color: #ffffff;
    padding: 6px;
    transition: all 0.3s ease;
}

/* HOVER REDES */
.redes-sociales img:hover {
    background-color: #ff6a00;
    transform: scale(1.15);
}

/* ================= LÍNEA DECORATIVA SUPERIOR ================= */

footer::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 4px;
    background: linear-gradient(to right, #ff6a00, #ffb347);
}

/* ================= CONTACTO ================= */

.header-contacto {
    background: antiquewhite;
    color: black;
    text-align: center;
    padding: 65px 0;
}

.contenido-contacto {
    display: flex; /*--FLEX*/
    justify-content: space-between;
  flex-wrap: wrap;
    width: 90%;
    margin: 50px auto;
}

/* FORMULARIO */
.formulario-contacto {
    width: 48%;
    float: left;
}

.formulario-contacto h2 {
    margin-bottom: 20px;
}

.formulario-contacto form {
    background: #f5f5f5;
    padding: 25px;
    border-radius: 10px;
}

.formulario-contacto label {
    display: block;
    margin-top: 15px;
    font-weight: bold;
}

.formulario-contacto input,
.formulario-contacto select {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 6px;
}

.opciones {
    margin-top: 10px;
}

/* BOTÓN */
.boton {
    margin-top: 20px;
    padding: 12px;
    width: 65%;
    background: #ff6600;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-weight: bold;
}

.boton:hover {
    background: transparent;
    color: #ff6600;
    border: 2px solid #ff6600;
}

/* ================= MAPA ================= */

.mapa-contacto {
    width: 48%;
    float: right;
}

.contenedor-mapa {
    width: 100%;
    height: 300px;
    border: 2px solid #ccc;
    border-radius: 8px;
    overflow: hidden;
    position: relative;
}

.contenedor-mapa iframe {
    width: 100%;
    height: 100%;
    border: 0;
}

/* FOOTER */
.footer-contacto {
    background: #111;
    color: white;
    text-align: center;
    padding: 20px;
    margin-top: 50px;
}

/* LIMPIADOR */
.clear {
    clear: both;
}


/* ================= PRECIOS para la seccion de OFERTAS ================= */

.precio {
    margin: 10px 0;
}

.precio-antiguo {
    text-decoration: line-through;
    color: #888;
    margin-right: 10px;
    font-size: 14px;
}

.precio-nuevo {
    color: red;
    font-weight: bold;
    font-size: 18px;
}


/* ============== PARA INICIAR SESIÓN ============== */
/* ================= HEADER  LOGIN ================= */

.header-login {
    background-color: #111;
    color: white;
    text-align: center;
    padding: 25px 0;
}

.header-login h1 {
    margin: 0;
    font-size: 28px;
}

/* ================= CONTENIDO LOGIN ================= */

.contenido-login {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 60px 20px;
}

/* ================= CAJA LOGIN ================= */

.formulario-login {
    background: white;
    padding: 40px;
    width: 380px;
    border-radius: 12px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
}

.formulario-login h2 {
    text-align: center;
    margin-bottom: 25px;
}

/* ================= CAMPOS LOGIN================= */

.formulario-login label {
    display: block;
    margin-top: 15px;
    font-weight: 600;
}

.formulario-login input[type="email"],
.formulario-login input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-top: 6px;
    border-radius: 6px;
    border: 1px solid #ccc;
    transition: 0.3s;
}

/* Efecto al hacer clic */
.formulario-login input:focus {
    border-color: #00c3ff;
    outline: none;
    box-shadow: 0 0 5px rgba(0,195,255,0.4);
}

/* Checkbox */
.opciones {
    margin-top: 12px;
    font-size: 14px;
}

/* ================= BOTÓN LOGIN ================= */

.formulario-login button {
    width: 100%;
    padding: 12px;
    margin-top: 20px;
    background-color: #00c3ff;
    border: none;
    color: white;
    font-weight: bold;
    border-radius: 6px;
    cursor: pointer;
    transition: 0.3s;
}

.formulario-login button:hover {
    background-color: #009acb;
}

/* Texto registro */
.registro {
    text-align: center;
    margin-top: 15px;
}

.registro a {
    color: #00c3ff;
    text-decoration: none;
    font-weight: 600;
}

.registro a:hover {
    text-decoration: underline;
}

/* ================= FOOTER login ================= */

.footer-login {
    background-color: #111;
    color: white;
    text-align: center;
    padding: 20px;
}

.footer-login .boton {
    display: inline-block;
    margin-top: 10px;
    padding: 8px 15px;
    background-color: #00c3ff;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

.footer-login .boton:hover {
    background-color: #009acb;
}




/* ================= DETALLE PRODUCTO -ver producto- mas grande y detallado al clickar-================= */

.detalle-producto {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    padding: 60px;
    flex-wrap: wrap;
}

.imagen-producto img {
    width: 350px;
}

.info-producto {
    max-width: 400px;
}

.info-producto h2 {
    font-size: 28px;
}

.precio {
    font-size: 22px;
    color: red;
    font-weight: bold;
    margin: 15px 0;
}

.descripcion {
    margin-bottom: 20px;
    line-height: 1.5;
}

/*=====CARRITO DE  LA COMPRA=====*/

.header-carrito {
    background-color: #111;
    padding: 20px;
    text-align: center;
}

.header-carrito a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
}

.carrito-container {
    width: 70%;
    margin: 50px auto;
    background: white;
    padding: 30px;
    border-radius: 10px;
    color: #111;
}

.producto-carrito {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
    border-bottom: 1px solid #ddd;
    padding-bottom: 15px;
    color: #111;
}

.producto-carrito img {
    width: 80px;
    color: #111;
}

.info {
    flex: 1;
    margin-left: 20px;
    color: #111;
}

.eliminar {
    background-color: red;
    color: white;
    border: none;
    padding: 8px 12px;
    cursor: pointer;
    border-radius: 5px;
}

.eliminar:hover {
    background-color: darkred;
}

.total {
    text-align: right;
    margin-top: 30px;
}

.comprar {
    background-color: green;
    color: white;
    padding: 12px 20px;
    border: none;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
}

.comprar:hover {
    background-color: darkgreen;
}

/* ================= CARRUSEL ================= */

.carrusel {
    width: 60%;
    margin: 25px auto;
    overflow: hidden;
    text-align: center;
}

.carrusel input {
    display: none;
}

.slides {
    display: flex;
    width: 300%;
    transition: 0.5s;
}

.slide {
    width: 100%;
}

.slide img {
    width: 100%;
    height: 220px;   /* MÁS PEQUEÑO */
    object-fit: contain;
}

/* Movimiento */
#slide1:checked ~ .slides { margin-left: 0; }
#slide2:checked ~ .slides { margin-left: -100%; }
#slide3:checked ~ .slides { margin-left: -200%; }



/* ================= FLECHAS CARRUSEL ================= */

.carrusel {
    position: relative;
}

/* Ocultar todos los controles */
.control {
    display: none;
    position: absolute;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
}

/* Mostrar solo el control activo */
#slide1:checked ~ .flechas .s1,
#slide2:checked ~ .flechas .s2,
#slide3:checked ~ .flechas .s3 {
    display: block;
}

/* Estilo flechas */
.prev, .next {
    cursor: pointer;
    position: absolute;
    font-size: 30px;
    color: #111;
    font-weight: bold;
    padding: 10px;
    user-select: none;
    background: rgba(255,255,255,0.7);
    border-radius: 50%;
    transition: 0.3s;
}

.prev:hover, .next:hover {
    background: rgba(0,0,0,0.7);
    color: white;
}

/* Posiciones */
.prev {
    left: 10px;
}

.next {
    right: 10px;
}

/* ================= PORTFOLIO ================= */

.portfolio {
    padding: 25px;
    text-align: center;
}

.portfolio h2 {
    font-size: 20px;
    margin-bottom: 15px;
}

.destacados {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 12px;
}

.tarjetas {
    background: white;
    padding: 10px;
    border-radius: 8px;
    font-size: 14px;
}

.tarjetas img {
    width: 100%;
    height: 120px; /* MÁS PEQUEÑO */
    object-fit: contain;
}

/* ================= MEDIA QUERY 1 (PAREA LA  TABLET) ================= */

@media (max-width: 900px) {

    .portfolio {
        grid-template-columns: repeat(2, 1fr);
    }

    .slide img {
        height: 180px;
    }
}

/* ================= MEDIA QUERY 2 (PARA EL  MÓVIL) ================= */

@media (max-width: 500px) {

    .portfolio {
        grid-template-columns: 1fr;
    }

    .slide img {
        height: 140px;
    }

    header {
        font-size: 16px;
    }
}


